<h1>
  Welcome
</h1>
<h2>
  Currently logged in as: <%= @user.email %>
</h2>
<table>
  <tr>
    <th>
      Plant Name
    </th>
    <th>
      Days Since Watering
    </th>
    <th>
      Amount Watered
    </th>
    <th>
      Needs Water
    </th>
  </tr>
  <% @plants.each do |plant| %>
      <tr>
        <td>
          <%= link_to "#{plant.name}", plant %>
        </td>
        <% if plant.latest_watering %>
          <td>
            <%= plant.days_since_watering %>
          </td>
          <td>
            <%= plant.latest_watering.amount %>
          </td>
        <% else %>
          <td>
            N/A
          </td>
          <td>
            N/A
          </td>
        <% end %>
        <td>
          <% if plant.needs_water? %>
          Yes
          <% else %>
          No
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<%= link_to 'Add New Plant', new_plant_path %>
