<p>
  <%= @user.email %>
</p>
<ul>
  <% @plants.each do |plant| %>
      <li><%= link_to "#{plant.name}", plant %></li>
        <ul>
        <% if plant.latest_watering %>
          <li>Date: <%= plant.latest_watering.date %></li>
          <li>Amount: <%= plant.latest_watering.amount %></li>
        <% end %>
        <% if plant.needs_water? %>
          <li>needs_water</li>
        <% end %>
      </ul>
  <% end %>
</ul>
<%= link_to 'New Plant', new_plant_path %>
